# Binaries
/newo
/bin/

# Caches
/.gocache/
/.gomodcache/
/.cache/
/.golangci-cache/

# Local state
/.newo/
/newo_customers/
/docs/
/integrations/**
/**_e2e/**

# Configuration
/newo.toml

# IDE
/.idea/
/.vscode/

# OS
.DS_Store

/GEMINI.md
/AGENTS.md